%ico {
    display: inline-block;
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.ico {
    &-tooltip {
        @extend %ico;
        width: 15px;
        height: 15px;
        margin-top: -3px;
        background-image: url(../img/mypage/ico-tooltip.png);

        &.white {
            background-image: url(../img/mypage/ico-tooltip_white.png);
        }

        &:before {
            content: '';
            opacity: 0;
            visibility: hidden;
        }

        &.on {
            position: relative;
            z-index: 2;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 17px;
                left: 50%;
                width: 20px;
                height: 13px;
                background: url(../img/mypage/bg-tooltip.png) no-repeat 0 0/100% auto;
                opacity: 1;
                visibility: visible;
                transition: opacity .25s .1s ease-in-out;
                transform: translateX(-50%);
            }
        }
    }

    &-more_arrow {
        @extend %ico;
        width: 18px;
        height: 18px;
        margin-left: 8px;
        background-image: url(../img/ico-more_type2.png);

        &.dark {
            background-image: url(../img/ico-more_type2-dark.png);
        }

        &.white {
            background-image: url(../img/ico-more_type2-white.png);
        }

        &.grey {
            background-image: url(../img/ico-more_type2-grey.png);
        }
    }
}

.floating-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $gray-2e;
    display: none;
    z-index: 999;

    &.on {
        display: block;
    }

    &+.gnb {
        top: 60px;
    }

    &~#content {
        margin-top: 60px;
    }

    .inner {
        width: 1200px;
        padding: 14px 0;
        margin: 0 auto;
    }

    p {
        display: inline-block;
        @include font(600, 16px);
        color: #cecece;
        line-height: 32px;

        b {
            color: $white;
        }
    }

    button {
        position: relative;
        float: right;
        padding: 0 10px;
        @include font(600, 14px);
        color: $white;
        line-height: 32px;
        border-radius: 3px;
        background-color: $point-color;

        &.coupon {
            padding-right: 24px;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 10px;
                width: 9px;
                height: 100%;
                background: url(../img/ico-download.png) no-repeat 50%/100% auto;
            }
        }
    }
}

.clickable {
    cursor: pointer;
}

.enclosed {
    @include font(200, 14px);
    color: $gray-83;
    margin-top: 10px;

    &.type2 {
        margin: 6px 0 21px;
        font-size: 15px;
        line-height: 22px;

        &+.list-status {
            margin-bottom: 56px;
        }
    }

    &.mt {
        margin-bottom: 14px;
    }
}

.tip {
    color: $gray-2e;
    @include font(200, 13px);
    line-height: 22px;

    p {
        padding-left: 8px;
        text-indent: -12px;
    }

    .btn-close-tooltip {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 24px;
        right: 16px;
        background: url(../img/mypage/ico_delete.png) no-repeat 50%/12px auto;

    }
}

.aside {
    .sticky {
        right: 0;

        &.on {
            right: calc(50vw - 600px);
        }
    }
}

// pop
.small {
    .btn-form {
        height: 50px;
        max-width: 350px;
        margin: 0 auto;
        line-height: 50px;

        &.submit {
            width: 168px;
        }
    }

    .btn-form-wrap {
        display: block;
        margin-top: 50px;
        text-align: right;
    }

    .btn-form-floating {
        position: absolute;
        bottom: -56px;
    }
}
.pop {
    &-wrap {
        overflow: auto;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 81px 25px 0;
        background: $white;
        opacity: 0;
        visibility: hidden;
        transition: all .25s ease-in-out;

        &.open {
            opacity: 1;
            visibility: visible;
        }

        &.small,
        &.large,
        &.guide {
            padding-top: 0;
            background: rgba(0, 0, 0, .67);

            &:not(.large) .t-title1 {
                font-weight: 600 !important;
            }
        }

        &.large,
        &.guide {
            overflow: auto;

            .pop-btn-close {
                top: 0;
                left: 100%;
                width: 30px;
                height: 30px;
                margin-left: 10px;
                background-image: url(../img/btn-close_white.png);
            }
        }

        &.guide {
            .pop-inner {
                width: 1160px;
                padding: 0;
                margin: 105px auto;

                .t-title1 {
                    padding: 40px 40px 5px;
                    font-weight: bold !important;
                    font-size: 30px !important;
                    line-height: 45px;

                    &+p {
                        padding: 0 40px 50px;
                        font-size: 15px;
                        line-height: 24px;
                    }
                }

                .pop-cont {
                    display: inline-block;
                    padding: 50px 40px 25px;
                    border-top: 1px solid #979797;

                    dl {
                        dt {
                            float: left;
                            width: 240px;
                            @include font(900, 22px);

                            &~dt {
                                padding-top: 45px;
                            }
                        }

                        dd {
                            float: left;
                            width: 840px;

                            &~dd {
                                padding-top: 45px;
                            }

                            img {
                                max-width: 100%;
                                margin-top: 20px;
                            }

                            li {
                                float: left;
                                width: 325px;
                                padding-bottom: 25px;
                                margin-right: 57px;
                                font-size: 15px;

                                &:nth-child(2n) {
                                    width: 400px;
                                }

                                &.full {
                                    width: 100% !important;
                                    margin-right: 0;

                                    &+.full {
                                        margin-top: 25px;
                                    }
                                }

                                .t-title3 {
                                    padding-bottom: 7px;
                                    font-size: 14px !important;
                                    color: #838383;
                                    line-height: 20px;
                                }

                                p {
                                    line-height: 22px;

                                    &.desc~p.desc {
                                        margin-top: 25px;
                                        margin-bottom: 5px;
                                    }
                                }

                                .example {
                                    font-weight: 200 !important;
                                    color: #838383;
                                }
                            }
                        }
                    }
                }

                .table {
                    display: inline-block;
                    width: 100%;
                    padding-right: 25px;
                    box-sizing: border-box;

                    .desc+.t-title3 {
                        margin-top: 25px;
                    }

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    li.full {
                        padding-bottom: 0;
                    }

                    &-col {
                        display: block;
                        float: left;

                        &:first-child {
                            margin-right: 40px;
                            ;
                        }
                    }

                    table {
                        width: 375px;
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        font-size: 14px;
                        font-weight: 200;
                        text-align: center;
                        color: #000;
                        border: 1px solid #b7b7b7;
                    }

                    thead th {
                        line-height: 43px;
                        font-weight: 400;
                        background-color: #eaeaea;

                        &:nth-child(odd) {
                            width: 10.2em;
                        }
                    }

                    .col3 {
                        th {
                            &:nth-child(odd) {
                                width: 5em;
                            }
                        }

                        td {
                            height: 39px;
                            line-height: 25px;
                        }
                    }

                    tbody td {
                        line-height: 39px;
                        background-color: #fff;

                        &.multi-line {
                            line-height: 15px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }

                    // li {
                    //     float: left;
                    //     width: 50%;
                    //     padding: 20px 30px 0 0;
                    //     box-sizing: border-box;

                    //     &.clear {
                    //         clear: both;
                    //     }

                    // }
                }
            }
        }

        .t-title1 {
            display: block;
            font-weight: 900 !important;
        }
    }

    &-inner {
        position: relative;
        box-sizing: border-box;
        width: 550px;
        padding: 93px 35px 0;
        background: $white;


        @at-root .small & {
            max-width: 550px;
            padding-top: 40px;
            padding-bottom: 40px;
            margin: 95px auto;
            text-align: center;
    
            .check-box {
                margin-top: 30px;
                margin-bottom: 10px;
    
                label {
                    @include font(400, 14px);
                    line-height: 17px;
                    color: #000;
                }
            }
    
            &.complete {
                padding: 40px;
                text-align: left;
    
                .t-title1 {
                    font-size: 22px !important;
                    line-height: 33px;
                    text-align: left;
                }
                .t-title2 {
                    font-size: 20px !important;
                    font-weight: 900 !important;
                    line-height: 29px;
                }
    
                .sub-title {
                    margin-top: 40px;
                }
    
                .list-mypage.head {
                    figure {
                        padding: 20px 0 0 0;
    
                        .list-content {
                            vertical-align: top;
    
                            p {
                                margin-top: 10px;
                                font-size: 18px;
                                line-height: 24px;
    
                                span {
                                    margin-right: 3px;
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                            }
    
                            dl {
                                margin-top: 12px;
    
                                dt, dd {
                                    float: left;
                                    font-size: 15px;
                                    line-height: 28px;
                                    max-width: 230px;
                                    word-break: break-all;
                                }
    
                                dt {
                                    min-width: 70px;
                                    clear: both;
                                    color: $gray-83;
                                }
                            }
                        }
                    }
                }
    
                .btn-form-wrap {
                    display: inline-block;
                    width: 100%;
                }
    
                .btn-form {
                    float: left;
                    width: 230px;
                    margin-left: 10px;
    
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &-btn-close {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 30px;
        height: 30px;
        background: url(../img/btn-close.svg) no-repeat 50% / 30px auto;

        @at-root .pop-inner & {
            top: 24px;
            right: 24px;
            width: 18px;
            height: 18px;
        }

        @at-root .photo & {
            background-image: url(../img/mypage/btn-close_white.png);
        }
    }

    &-share {
        background: rgba(0, 0, 0, .8);
        padding-top: 0;

        .pop-inner {
            margin: 95px auto 0;
            padding-top: 40px;
            padding-bottom: 10px;
        }

        .pop-cont {
            height: 100%;
        }

        .t-title1 {
            text-align: center;
        }

        ul {
            width: 410px;
            margin: 30px auto 0;
            font-size: 0;
        }

        li {
            display: inline-block;
            width: 33.33%;
            margin-bottom: 45px;
            text-align: center;

            a {
                display: inline-block;
                @include font(600, 15px);

                &::before {
                    content: '';
                    display: block;
                    width: 71px;
                    height: 71px;
                    margin: 0 auto 16px;
                    border-radius: 50%;
                    background: no-repeat 50%/71px auto;
                }
            }
        }

        .ico {
            &-fb::before {
                background-image: url(../img/detail/ico-share_fb.png);
            }

            &-tw::before {
                background-image: url(../img/detail/ico-share_tw.png);
            }

            &-kas::before {
                background-image: url(../img/detail/ico-share_kas.png);
            }

            &-band::before {
                background-image: url(../img/detail/ico-share_band.png);
            }

            &-kat::before {
                background-image: url(../img/detail/ico-share_kat.png);
            }

            &-line::before {
                background-image: url(../img/detail/ico-share_line.png);
            }

            &-mail::before {
                background-image: url(../img/detail/ico-share_mail.png);
            }

            &-url::before {
                background-image: url(../img/detail/ico-share_url.png);
            }
        }


        .pop-btn-close {
            top: 0;
            left: 100%;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            background-image: url(../img/btn-close_white.png);
        }
    }
}

.box-type1 {
    position: relative;
    min-height: calc(100vh - 387px);
    padding: 45px 0 120px 60px !important;
    margin-top: -46px;
    margin-bottom: -120px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: calc(50vw - 600px);
        height: 100%;
    }

    &.bg-grey:after {
        background: #F6F5F5 !important;
    }

    .inp-tit {
        display: inline-block;
        font-size: 15px;
        line-height: 22px;
        color: #5B5B5B;
    }

    .inp-wrap {
        clear: both;

        .inp-tit {
            margin: 40px 0 8px;
        }

        &:first-child .inp-tit {
            margin-top: 0;
        }

        &.check-box {
            margin-top: 38px;
        }
    }

    .t-title2+.inp-wrap {
        .inp-tit {
            margin-top: 30px;
        }
    }

    .inp-card {
        .inp-wrap {
            .inp-tit {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 14px;
                color: $gray-83;
            }

            &~.inp-wrap {
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
    }

    .val-type {
        float: right;
        margin-top: 40px;
        font-size: 15px;
        line-height: 30px;
        color: #838383;
    }

    .btn-form + .val-type {
        margin-top: 0;
        right: 178px;
    }

    select,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"] {
        padding: 0 20px;
    }

    textarea {
        padding: 20px;

        &:focus {
            padding: 18px;
        }
    }

    .radio-box {
        padding-bottom: 0;
        margin-top: 15px;
    }

    label {
        font-size: 15px;
    }

    .full {
        width: 100% !important;
    }

    .btn-form-wrap {
        display: inline-block;
        width: 100%;
        margin-top: 50px;
        font-size: 0;
        text-align: right;

        .btn-form {
            width: 168px;
            height: 64px;
            font-size: 18px;
            line-height: 64px;

            &.w1 {
                width: 280px;
            }
        }
    }

    .half {
        float: left;
        width: 50%;
        margin-top: 25px;
        box-sizing: border-box;

        &:nth-child(even) {
            padding-right: 14px;
        }

        &:nth-child(odd) {
            padding-left: 14px;
        }

        &.inner {
            margin-top: 0;

            &:nth-child(even) {
                padding-right: 29px;
            }

            &:nth-child(odd) {
                padding-left: 29px;
            }
        }

        .inp-tit {
            margin: 0 0 8px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .inp-inner.box .half {
        &:nth-child(even) {
            padding-right: 5px;
        }

        &:nth-child(odd) {
            padding-left: 5px;
        }
    }
}

.box-type2 {
    @extend .box-type1;
    padding: 50px 40px 0 !important;

    &:after {
        content: none;
    }

    .btn-form-wrap .btn-form.full {
        margin-left: 0;
        height: 56px;
        line-height: 56px;
    }

    .half {
        &:nth-child(even) {
            padding-right: 4px;
        }

        &:nth-child(odd) {
            padding-left: 4px;
        }
    }

    .btn-form-wrap:last-child {
        margin-bottom: 120px;
    }
}

.profile {
    display: block;
    position: relative;

    @at-root .modify#{&} {
        float: left;
        margin: 7px 0 0;
    }

    .img {
        overflow: hidden;
        display: block;
        width: 125px;
        height: 125px;
        background: $gray-f6 url(../img/mypage/bg-no_profile.png) no-repeat 50%/100% auto;
        border-radius: 50%;

        @at-root .modify#{&} {
            width: 162px;
            height: 162px;
            background-color: $white;
        }
    }

    .inp-file {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 29px;
        margin-right: 5px;
        border-radius: 50%;
        background: $white url(../img/mypage/ico-modify_plus02.png) no-repeat 7px 6px /16px auto;
        box-shadow: 0 1px 3px rgba(176, 176, 176, .5);

        @at-root .modify#{&} {
            bottom: 10px;
            right: -4px;
            width: 37px;
            margin-left: 27px;
            background: $white url(../img/mypage/ico-modify_plus03.png) no-repeat 8px 7px /22px auto;
        }
    }

    .btn-list {
        position: absolute;
        bottom: -27px;
        left: 100%;
        min-width: 90px;
        margin-left: 15px;
        font-size: 14px;
        color: #454545;
        background-color: $white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
        opacity: 0;
        transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        z-index: 10;

        label, a {
            display: block;
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            border-top: 1px solid #D8D8D8;

            &:first-child {
                border-top: none;
            }
        }

        &.open {
            opacity: 1;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 10px 7px 0;
            border-color: transparent #ffffff transparent;
            pointer-events: none;
        }

        &:before {
            top: 8px;
            left: -9px;
            border-width: 10px 14px 10px 0;
            z-index: 10;
        }

        &:after {
            border-right-color: rgba(0, 0, 0, .25);
            filter: blur(1px);
            -webkit-filter: blur(1px);
        }
    }

    .text {
        box-sizing: border-box;
        display: inline-block;
        margin-top: 14px;
        padding: 8px 15px;
        border-radius: 3px;
        border: 1px solid $gray-b7;
        @include font(400, 15px);
        color: $gray-b7;
    }

    img {
        max-width: 100%;
    }


}

#content>section.dashboard {
    display: inline-table;
    table-layout: fixed;

    dl {
        padding: 10px 0;

        &+dl {
            margin-top: 15px;

            dt:first-child {
                padding: 10px 0;
            }
        }

        dt {
            width: 100%;
            padding: 20px 0 4px;
            @include font(400, 15px);
            line-height: 22px;
            border-top: 0.5px solid rgba(151, 151, 151, .5);


            &:first-child {
                border-top: none;
            }

            a {
                position: relative;
                display: block;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 11px;
                    height: 11px;
                    margin-top: -6px;
                    background: url(../img/ico-more_type5.png) no-repeat 50%/auto 100%;
                }
            }
        }

        dd {
            padding-bottom: 20px;
            @include font(400, 25px);
            line-height: 29px;

            em {
                @include font(200, 18px);
            }
        }
    }

    .table {
        display: table-cell;
        width: 335px;
        padding-right: 60px;

        dl {
            padding: 10px 30px;
            background-color: #f6f5f5;
        }
    }

    .notification {
        position: relative;
        display: table-cell;
        vertical-align: top;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 150px;
            left: 0;
            width: 100%;
            height: 48px;
            text-align: center;
            font-size: 18px;
            line-height: 48px;
        }

        &:before {
            background: url(../img/ico-bell.png) no-repeat 50%/auto 100%;
        }

        &:after {
            content: "받은 알림이 없습니다";
            top: 204px;
        }

        dd {
            padding-bottom: 8px;
        }

        ul {
            position: relative;
            display: inline-block;
            min-height: 275px;
            background-color: $white;
            z-index: 10;

            li {
                padding: 25px 0;
                font-size: 0;
                border-top: 0.5px solid rgba(151, 151, 151, .7);

                &:first-child {
                    border-top: none;
                }

                a {
                    display: inline-table;
                    width: 100%;
                    table-layout: fixed;
                }

                figure {
                    display: table-cell;
                    width: 40px;
                    height: 40px;
                    padding-right: 15px;
                    vertical-align: middle;

                    img {
                        max-width: 100%;
                        border-radius: 20px;
                    }
                }

                .list-content {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;

                    .list-tit {
                        @include font(600, 16px);
                        line-height: 19px;
                        margin-bottom: 5px;
                    }

                    .list-msg {
                        @include font(400, 14px);
                        line-height: 17px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .al-r {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6b6b6b;
                    }
                }
            }
        }
    }
}

section.wishlist {
    position: relative;
    min-height: 458px;

    dt {
        width: 100%;
        padding: 50px 0 4px;
        @include font(400, 15px);
        line-height: 22px;

        a {
            position: relative;
            display: block;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 11px;
                height: 11px;
                margin-top: -6px;
                background: url(../img/ico-more_type5.png) no-repeat 50%/auto 100%;
            }
        }
    }

    dd {
        padding-bottom: 20px;
        @include font(400, 25px);
        line-height: 29px;

        em {
            @include font(200, 18px);
        }
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 228px;
        left: 0;
        width: 100%;
        height: 48px;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
    }

    &:before {
        background: url(../img/ico-wish.png) no-repeat 50%/auto 100%;
    }

    &:after {
        content: "좋아요 한 위시리스트가 없어요";
        top: 282px;
    }

    .list-scroll {
        position: relative;
        margin-top: 0;
        background-color: $white;
        z-index: 10;

        .scroll-btn {
            top: 33%;
        }

        li {
            width: 37.16%;

            .list-content {
                strong {
                    font-size: 18px !important;
                    font-weight: 600 !important;
                }

                .text-info {
                    margin: 3px 0 11px;

                    span {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .price {
                    margin: 0;
                    font-size: 17px;
                    line-height: 20px;
                }
            }
        }
    }
}

section.system {
    padding-top: 74px;
    padding-bottom: 74px;

    h1 {
        margin-bottom: 21px;
        @include font(600, 45px);
        line-height: 53px;
    }

    p {
        @include font(200, 15px);
        line-height: 24px;

        &.msg {
            margin-bottom: 10px;
            font-size: 20px;
        }
    }

    .btn-form {
        max-width: 156px;
        margin: 60px 0 0 0;
    }
}

.not-msg {
    display: table;
    width: 100%;
    min-height: 354px;
    height: 354px; // firefox bug
    text-align: center;
    @include font(400, 16px);
    color: #adadad;

    .inner {
        display: table-cell;
        vertical-align: middle;
    }

    &-big {
        @include font(400, 18px);
    }


    a {
        display: block;
        margin-top: 30px;
        @include font(400, 16px);

        .ico-more_arrow {
            margin-top: -3px;
        }
    }

    p {
        line-height: 26px;

        &.home,
        &.cook,
        &.heart,
        &.bell,
        &.gift,
        &.paper,
        &.letter {
            position: relative;
            padding-top: 78px;
            font-size: 20px;
            line-height: 30px;
            color: #000;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 65px;
                height: 65px;
                margin-left: -33px;
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &.home:before {
            background-image: url(../img/ico-empty_home.png);
        }

        &.cook:before {
            background-image: url(../img/ico-empty_cook.png);
        }

        &.heart:before {
            background-image: url(../img/ico-empty_heart.png);
        }

        &.bell:before {
            background-image: url(../img/ico-empty_bell.png);
        }

        &.gift:before {
            background-image: url(../img/ico-empty_gift.png);
        }

        &.paper:before {
            background-image: url(../img/ico-empty_paper.png);
        }

        &.letter:before {
            background-image: url(../img/ico-empty_letter.png);
        }
    }

    @at-root .message & {
        padding: 38px 0;
        min-height: auto;

        p {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.swiper-container {
    overflow: hidden;

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute !important;
        top: 0;
        right: 0;
        opacity: 0;
        transition: opacity .4s;
        width: 80px;
        height: 100%;
        margin-top: 0;
        text-indent: -999px;

        @at-root .list-default & {
            width: 52px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            width: 34px;
            height: 49px;
            margin-top: -24px;
            background: url(../img/ico-paging_arrow_type2.png) no-repeat 0 0 / 100% auto;
            z-index: 1;

            @at-root .list-default & {
                right: 6px;
                width: 22px;
                height: 29px;
                margin-top: -14px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
            pointer-events: none;
            z-index: -1;
        }
    }

    .swiper-button-prev {
        left: 0;
        transform: rotate(180deg);

        &:after {
            content: none;
        }
    }

    &:hover,
    &:focus {

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
        }
    }
}

img.square {
    height: 100%;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

img.rect {
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fc-black {
    color: #000 !important;
}

.more-bottom {
    .inner {
        ul.table {
            display: inline-block;
            width: 100%;
            padding-right: 25px;
            box-sizing: border-box;

            li {
                float: left;
                width: 50%;
                padding: 14px 30px 0 0;
                @include font(200, 17px);
                box-sizing: border-box;

                p {
                    font-size: 13px;
                    line-height: 25px;
                    white-space: nowrap;
                    &.strong {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 29px;
                    }
                }

                &.clear {
                    clear: both;
                }

                table {
                    width: 100%;
                    margin-top: 10px;
                    border-collapse: collapse;
                }

                th, td {
                    font-size: 14px;
                    font-weight: 200;
                    text-align: center;
                    color: #000;
                    border: 1px solid #b7b7b7;
                }

                thead th {
                    line-height: 43px;
                    font-weight: 400;
                    background-color: #eaeaea;
                    
                    &:nth-child(odd) {
                        width: 10.2em;
                    }
                }
                tbody td {
                    line-height: 39px;
                    background-color: #fff;

                    &.multi-line {
                        line-height: 15px;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}