section.login {
	width: 350px;
	margin: 0 auto;
	padding-bottom: 120px;

	.inp-tit .tit-right {
		font-size: 14px;
	}

	mark {
		font-weight: 400;
	}
}

.t-title {
	@include font(800, 30px);
	margin-bottom: 30px;
}


.t-desc {
	@include font(200, 18px);
	margin-bottom: 20px;
	line-height: 1.55;

}


.login-opt {
	margin-top: 50px;
	border-top: 1px solid #E5E5E5;

	.social-login {
		margin-top: 50px;

		a {
			position: relative;
			display: block;
			margin-top: 8px;
			padding: 13px 0;
			@include font(400, 15px);
			text-align: center;
			border-radius: 3px;
			line-height: 18px;

			&:first-child {
				margin-top: 0;
			}

			.txt:before {
				display: inline-block;
				vertical-align: middle;
				content: '';
			}

			&.facebook {
				border: 2px solid #405EA8;

				.txt {
					padding-left: 14px;

					&:before {
						width: 8px;
						height: 17px;
						left: 22.7%;
						margin-right: 12px;
						background: url(../img/login/ico_social_01.png) no-repeat 0 50% / 8px auto;
						vertical-align: top;
					}
				}
			}

			&.naver {
				border: 2px solid #4FAE48;

				.txt {
					&:before {
						width: 13px;
						height: 18px;
						margin-right: 26px;
						background: url(../img/login/ico_social_02.png) no-repeat 0 50% / auto 12px;
						vertical-align: top;
					}
				}
			}

			&.kakao {
				border: 2px solid #EFDA43;

				.txt {
					&:before {
						width: 15px;
						height: 18px;
						margin-right: 24px;
						background: url(../img/login/ico_social_03.png) no-repeat 0 50% / auto 14px;
						vertical-align: top;
					}
				}
			}

		}
	}
}

.find-opt {
	margin-top: 20px;
	text-align: center;
	font-size: 0;

	li {
		position: relative;
		margin-left: 57px;
		display: inline-block;

		&:first-child {
			margin-left: 0;

			&:before {
				width: 0;
			}
		}

		&:before {
			position: absolute;
			left: -28px;
			top: 2px;
			width: 1px;
			height: 14px;
			background: rgba(0, 0, 0, 1);
			content: '';
		}

		a {
			@include font(400, 14px);
		}
	}
}


.agree {
	border-top: 1px solid #E5E5E5;
	margin-top: 16px;
	padding-top: 16px;

	.check-box {
		display: block;
		margin-top: 10px;

	}
}

textarea.agreement {
	width: 100%;
	height: 9.3em;
	padding: 16px 20px;
	margin: 12px 0 14px;
	@include font(200, 15px);
	line-height: 22px;
	border: 1px solid #b7b7b7;
	color: #2e2e2e;
	box-sizing: border-box;
}

div.agreement {
	@extend textarea.agreement;
	overflow: auto;
}

.argee-all {
	display: block;
}

.cms {
	margin-top: 70px;

	span {
		color: #000;
	}
}

.btn-wrap {
	margin-top: 30px;

	&.login {
		margin-top: 20px;
	}

	.btn-form {
		margin-left: 0;
		margin-top: 8px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.btn-form-wrap {
	margin-top: 40px;
}

.inp-wrap {
	margin-top: 30px;
}

.inp-mt {
	margin-top: 8px;
}

.inp-mt2 {
	margin-top: 20px;
}

.error {
	line-height: 18px;
}

.inp {
	@at-root input#{&}:read-only {
		background: rgba(251, 251, 251, 1);
		border: 0;
		color: $basic-color;
	}
}