#content {
    padding-top: 100px;
	min-height: calc(100vh - 297px);
	
	&.ie {
		min-height: calc(100vh - 299px);
	}
}

.kivi {
    overflow: hidden;
    margin-left: -120px;
    margin-right: -120px;
}

.list {
    &-content {
        p {
            margin-top: 3px;
            line-height: 1.45;
        }

        .text-info {
            margin-top: 3px;

            span {
                margin-right: 7px;
                padding-left: 7px;
                @include font(400, 15px);
                color: $gray-7f;
            }
        }

        .t-title2 {
            display: block;
            overflow: hidden;
            width: 100%;

            >span {
                font-weight: 400;
            }
        }

        .price {
            margin-top: 10px;
        }
    }

    &-area {
        position: relative;
        margin-top: 70px;

        @at-root section &:first-child {
            margin-top: 20px;
        }

        @at-root .kivi+section & {
            margin-top: 70px;
        }

        .t-title1 {
            float: left;

            & + .list-default {
                float: left;
            }
        }

        .label-type,
        .btn-type {
            float: right;
        }

        .filter {
            clear: both;
            display: inline-block;
            width: 100%;
            padding: 16px 20px;
            background-color: rgba(216, 216, 216, .2);
            box-sizing: border-box;

            p {
                float: left;
                margin-right: 20px;
                @include font(600, 15px);
                line-height: 30px;
            }

            .tag {
                position: relative;
                float: left;
                padding: 6px 39px 6px 15px;
                margin-right: 7px;
                font-size: 12px;
                border-radius: 15px;
                border: 1px solid #BBB;
                background-color: $white;
                line-height: 16px;
            }

            .remove-filter {
                position: absolute;
                top: 50%;
                right: 0;
                width: 14px;
                height: 14px;
                margin: -7px 12px 0 0;
                background: url(../img/ico-close_active.png) no-repeat 50%/8px auto;
            }
        }

    }

    &-scroll {
        .text-info {
            margin-top: 4px;
        }
    }

    &-main {
        clear: both;
        display: inline-block;
        margin-top: 25px;

        ul {
            overflow: hidden;
            margin: 0 -7px;
        }

        li {
            float: left;
            width: 390px;
            padding: 0 7px;

            a {
                display: block;
            }

            img {
                width: 100%;
            }
        }
    }

    &-default {
        overflow: hidden;
        margin-top: 25px;

        li {
            vertical-align: top;
        }

        .swiper-container {
            overflow: hidden;
        }
    }

}

.btn-area {
    margin-top: 30px;
}

.banner-area {
    margin-top: 70px;

    a {
        display: block;

        img {
            max-width: 100%;
        }
    }
}

.select {
    display: inline-block;
    float: right;
    padding: 2px 0;
    margin-bottom: 25px;

    .select-box {
        &.label-type {
            min-width: 84px;
            text-align: right;

            label,
            select {
                height: 30px;
                line-height: 30px;
                font-size: 13px;
            }
            select {
                width: 100%;
                margin-left: 0;
            }
        }

        &.btn-type {
            margin-right: 8px;

            label {
                margin-left: 0;
                margin-right: 7px;
            }

            label,
            select {
                height: 30px;
                line-height: 30px;
                font-size: 12px;
            }
            select {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.hash-tag {
    padding-bottom: 13px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: 0 26px;
    background: $gray-2e;

    p {
        @include font(600, 12px);
        color: #CECECE;

        em {
            color: $white;
            font-weight: inherit;
        }
    }

    a {
        display: inline-block;
        padding: 7px 21px 6px 10px;
        border-radius: 3px;
        background: $point-color url(../img/main/btn-download.png) no-repeat right 8px top 8px/9px auto;
        @include font(600, 10px);
        color: $white;
    }
}