%flex {
    display: flex;
    align-items: center;
}

%flex-jutify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrap {
    font-weight: 400;
}

.sub-title {

    .t-title1 {
        @extend %flex-jutify;
    }

    .desc {
        margin-top: 14px;
        @include font(200, 19px);
        color: $basic-color;
        line-height: 30px;

        &-small {
            display: inline-block;
            margin-top: 24px;
            margin-bottom: 6px;
            @include font(600, 14px);
            color: $gray-83;

            .ico-tooltip {
                margin-left: 6px;
            }

        }
    }

}

.tab-content {
    box-sizing: border-box;
    padding: 40px 25px 64px;
    background: #f6f5f5;

    .inp-wrap {
        &:first-child {
            margin-top: 0;
        }
    }
}

.inp-desc {
    margin-top: 8px;
    @include font(200, 15px);
    color: $gray-b7;
}

.nick {
    .disabled {
        padding-top: 12px;
        @include font(200, 14px);
        color: $gray-b7;
    }

    .check-box {
        margin-top: 14px;
    }

    .error {
        padding-top: 10px;
        padding-bottom: 0;
        font-weight: 200;
    }

}

.cancel {
    padding-bottom: 64px;

    &-txt {
        @include font(400, 15px);
        line-height: 24px;
        color: $gray-2e;
    }

    &-box {
        height: 165px;
        margin-top: 25px;
        padding: 20px;
        border: 1px solid $gray-d9;
        @include font(400, 13px);
        line-height: 19px;
        box-sizing: border-box;
        overflow-y: auto;
        color: $gray-83;

        strong {
            display: block;
            margin: 20px 0 8px;
            font-weight: 600;

            &:first-child {
                margin-top: 0;
            }
        }

        ul {
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 18px;
        }
    }

    .check-box {
        label {
            @include font(400, 14px);
        }

        margin-top: 12px;
    }

    .inp-wrap {
        margin-top: 40px;

        input[type="password"] {
            float: left;
            max-width: 350px;
            height: 56px;
            padding: 0 20px;
            line-height: 56px;
        }

        .btn-form-wrap {
            float: right;
            min-width: 156px;
            height: 56px;
            margin: 0;
            line-height: 56px;

            .btn-form {
                padding: 0 60px;
            }
        }
    }
}

.bg-white {
    background: $white;
    padding: 0;
}

.reser {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .oval {
        vertical-align: middle;
    }
}

.gray-box {
    position: relative;
    padding: 40px;

    .title {
        font-size: 15px;
        color: $gray-2e;
    }

    .t-title3 {
        margin: 10px 0 30px;
        font-size: 53px !important;
        font-weight: 400 !important;
        color: $point-color;
        line-height: 62px;

        .t-ko {
            font-size: 26px !important;
        }

        em {
            margin-left: 6px;
            font-size: 47px;
            font-weight: 600;
        }
    }

    .bottom {
        display: table;
        width: 100%;
        min-height: 44px;

        .tip {
            display: table-cell;
            vertical-align: bottom;

            p {
                padding: 0;
                text-indent: 0;
            }
        }

        .sub-desc {
            display: table-cell;
            font-size: 15px;
            text-align: right;
            color: #2E2E2E;
            line-height: 22px;
            vertical-align: bottom;

            em {
                font-weight: 600;
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;

    .ico-tooltip {
        display: inline-block;
        float: right;
        margin-top: 0;

        &:before {
            top: 17px;
        }
    }
}

.reserve {
    padding: 20px 40px 30px;
    box-sizing: border-box;

    .class-info {
        padding: 30px 0 0;
    }

    &-desc {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        color: $gray-83;
    }

    .t-title2+p {
        margin-top: 10px;
        @include font(200, 14px);
        color: $gray-83;
    }
}

.cost-info {
    padding-top: 30px;
    box-sizing: border-box;
    border-top: 2px solid #000;

    &>* {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.pay-info-total {
    padding-top: 30px;

    li {
        @extend %flex;
        // display: flex;
        // align-items: center;

        &:first-child {
            margin-top: 0;
        }

        .class-tit {
            @include font(400, 18px);
            color: $gray-b7;
            line-height: 40px;
        }

        &.multi-line {
            padding: 10px 0;

            .class-tit {
                line-height: 22px;
            }
            .class-desc {
                vertical-align: top;
                line-height: 22px;
                height: 44px;
            }
        }

        .class-desc {
            @include font(400, 18px);
            color: $gray-5b;
            line-height: 40px;

        }
    }
}

.pay-last {
    @extend %flex;
    display: flex;
    align-items: center;

    .class-tit {
        @include font(400, 18px);
        color: $gray-5b;
        line-height: 40px;
    }

    .class-desc {
        @include font(400, 18px);
        line-height: 40px;

        b {
            font-weight: 600;
        }
    }
}

.total-list {
    margin-top: 30px;
    padding: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.pay-cost {
    @extend %flex-jutify;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    &:first-child {
        padding-top: 0
    }

    .class-tit {
        @include font(600, 16px);
        color: $gray-2e;
        font-size: 22px;
        line-height: 40px;
    }

    .class-desc {
        @include font(400, 16px);
        color: $basic-color;
        text-align: right;
        font-size: 22px;
        line-height: 40px;

        b {
            font-weight: 600;
        }
    }

    .dash {
        font-size: 14px;

        i {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 16px;
            vertical-align: middle;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 8px;
                height: 1px;
                background: $basic-color;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.pay-result {
    @extend %flex-jutify;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .class-tit {
        @include font(600, 16px);
        color: $gray-2e;
        font-size: 22px;
        line-height: 40px;
    }

    .class-desc {
        text-align: right;
        font-size: 22px;
        line-height: 40px;
    }
}

.total-pay {
    @include font(600, 22px);
    color: $point-color;
}

.head {
    padding: 0;
}


.class {
    &-info {
        padding: 30px 40px 0;

        li {
            display: flex;
            align-items: flex-start;
            @extend %flex;
            @include font(400, 18px);
            line-height: 40px;

            .post-add {
                line-height: 40px;
            }

            a {
                display: block;
                position: relative;
            }

            .toggle-box {
                display: none;
                margin: 10px -40px 14px -200px;
                padding: 25px 40px 25px 200px;
                @include font(400, 18px);
                line-height: 30px;
                color: $gray-83;
                text-align: left;
                background: $gray-f6;
            }
        }

        .end {
            color: $gray-b7;
        }

        .income-tooltip {
            .tip {
                top: 46px;
            }
        }

        .class-desc {
            a {
                &.on {
                    &:after {
                        transform: rotate(-180deg);
                    }
                }

                &:after {
                    display: inline-block;
                    width: 12px;
                    height: 8px;
                    margin: 4px 0 4px 12px;
                    transform: rotate(0deg);
                    background: url(../img/mypage/ico-sel_arrow-gray.png) no-repeat;
                    background-position: 100% 50%;
                    background-size: 12px auto;
                    background-color: $white;
                    content: '';
                }
            }
        }
    }

    &-tit {
        display: inline-block;
        min-width: 160px;
        width: 100%;
        max-width: 160px;
        color: $gray-83;
        line-height: 40px;
    }

    &-desc {
        flex: 1;
        color: $basic-color;
        line-height: 40px;

        &.step {
            white-space: nowrap;
            color: #000;

            span {
                position: relative;
                padding-right: 10px;

                &:after {
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 10px;
                    background: url(../img/mypage/ico-step_arrow-gray.png) no-repeat 0 0 / 100% auto;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .post-num,
        .post-add {
            display: block;
            line-height: 28px;
        }
    }
}

.map {
    overflow: hidden;
    position: relative;
    height: 445px;
    padding: 30px 40px;

    img {
        width: 100%;
    }
}

.pay-info {
    margin-top: 24px;
    padding-top: 20px;
    border-top: 1px solid $gray-ea;

    li {
        &:first-child {
            padding-top: 0;
        }
    }
}


.play-num {
    @include font(600, 23px);
    color: $point-color;
}

.instr {
    padding: 35px 25px;
    background: rgba(217, 217, 217, .24);

    li {
        padding-top: 8px;
        padding-left: 10px;
        color: #5B5B5B;
        @include font(400, 14px);
        line-height: 21px;

        &:first-child {
            padding-top: 0;
        }
    }

    &.md {
        margin-top: 50px;
    }

    @at-root & {
        padding: 50px 0 120px;
        background-color: transparent;

        li {
            padding-left: 0;
        }
    }
}

.small {
    .review-wrap {
        padding: 40px 26px 0;
        text-align: left;

        .sub-title {
            margin: 0 0 40px;

            .t-title1 {
                font-weight: 800 !important;
                text-align: left;
            }
        }

        .list-mypage {
            figure {
                width: 100%;
                padding: 0 0 40px;

                .list-content {
                    text-align: left;

                    .list-num,
                    .text-info {
                        float: none;
                        margin: 0;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    .list-tit {
                        font-size: 22px;
                        line-height: 1.5;
                        margin-bottom: 7px;
                    }
                }
            }
        }

        .bg-grey {
            padding: 40px 26px;
            margin: 0 -26px;

            & form>[class^="inp-"] {
                margin-right: 14px;
                margin-left: 14px;

                &:first-child {
                    margin-bottom: 40px;
                }
            }

            .inp-tit,
            label {
                font-size: 15px;
                line-height: 22px;
            }

            .inp-tit {
                margin-bottom: 8px;
            }

            .radio-box {
                padding-bottom: 0;
            }

            label:after {
                margin-top: 0;
            }

            .text-area-type2 {
                padding: 25px;
                line-height: 23px;
            }

            p.text-area-type2 {
                min-height: 23.267em;
                background: rgba(255, 255, 255, .5);
            }

            .instr {
                padding: 25px;
                background-color: $gray-ea;

                li {
                    padding-top: 11px;
                    padding-left: 0;
                    font-size: 14px;
                    line-height: 21px;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .find-place {
        padding: 40px 40px 0;
        text-align: left;

        .t-title1 {
            text-align: left;
        }

        div.full-box {
            padding: 30px 40px;
            margin-right: -40px;
            margin-left: -40px;
        }

        .full-box {
            @extend div.full-box;
            padding: 0;
        }

        .btn-form-wrap {
            margin-top: 0;

            &.full-box {
                padding: 0;

                .btn-form {
                    max-width: 100%;
                    height: 56px;
                    line-height: 56px;
                    border-radius: 0;
                }
            }
        }

        .type2.list-mypage figure img {
            height: 100px;
        }
    }

    .wishlist {
        padding: 40px;
        text-align: left;

        .pop-cont {
            .desc1 {
                text-align: left;
            }
        }

        .btn-form-wrap {
            margin-top: 40px;

            .btn-form {
                max-width: 168px;
            }
        }
    }

    .pop-btn-close {
        top: 0;
        left: 100%;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        background-image: url(../img/btn-close_white.png);
    }

    .t-title1 {
        display: block;
        text-align: center;
    }

    .t-title2 {
        font-weight: 600 !important;
    }

    .desc1 {
        @include font(200, 14px);
        text-align: center;
        margin-top: 10px;
        line-height: 22px;
    }

    .desc2 {
        max-width: 250px;
        margin: 40px auto 30px;
        @include font(400, 13px);
        color: $gray-b7;
        line-height: 22px;

        &+.check-box {
            margin-top: 0;
        }
    }

    .desc3 {
        margin: 10px auto 20px;
        @include font(400, 14px);
        line-height: 20px;
        text-align: left;
    }

    .cncl-info {
        max-width: 250px;
        margin: 37px auto 0;

        &:after {
            display: block;
            clear: both;
            content: '';
        }

        dt,
        dd {
            margin-top: 10px;
            width: 50%;

            &:nth-of-type(1) {
                margin-top: 0;
            }
        }

        dt {
            float: left;
            @include font(400, 14px);
            text-align: left;

        }

        dd {
            float: right;
            @include font(600, 15px);
            text-align: right;
        }
    }
}

.list-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;

    .use {
        display: inline-block;
        margin-left: 6px;
        @include font(400, 13px);
        color: $point-color;
        line-height: 20px;
    }

    .not-msg {
        min-height: auto;
        padding: 100px 0;
        font-size: 20px;
        color: #000;
        border-top: 1px solid #EAEAEA;
    }

}

.basic {
    padding: 8px 0;
    color: $basic-color;
    @include font(400, 12px);
}

.list-mypage {
    &.check {
        padding-bottom: 64px;
    }

    @at-root &.wishlist figure {
        position: relative;
    }
}

.btn-normal {
    float: right;
    @include font(400, 16px);
    color: $gray-2e;
}

.btn-normal-wrap {
    position: absolute;
    margin-bottom: 12px;
    text-align: right;

    .btn-normal {
        float: none;
    }
}

.btn-form-floating {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.list-msg {
    @at-root div#{&}:not(.without-sort) {
        margin-top: 30px;
    }

    li {
        &.bg-gray {
            background: $gray-f6;
        }
    }
}

.list-mypage {
    .tooltip {
        &.on {
            .tip {
                opacity: 1;
                visibility: visible;
                box-shadow: 0 2px 6px rgba(0, 0, 0, .37);
            }
        }
    }

    .oval {
        padding: 5px 10px 3px;
        font-size: 13px;
        line-height: 12px;

        &.type2 {
            display: inline-block;
            float: right;
        }
    }
}

.status-info {
    text-align: center;

    .status {
        &-desc {
            @include font(200, 22px);
            line-height: 33px;

            mark {
                color: $point-color;
            }
        }

        &-simbol {
            margin-top: 50px;
            font-size: 0;

            span {
                display: inline-block;
                position: relative;
                z-index: 0;
                padding-top: 34px;
                width: 33.33%;
                font-size: 16px;
                vertical-align: top;
                color: $gray-b7;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 50%;
                    width: 26px;
                    height: 26px;
                    margin-left: -13px;
                    background: $white url(../img/mypage/ico-tab_check.svg) no-repeat 100% 0/auto 26px;

                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: -1;
                    top: 13px;
                    right: 50%;
                    width: 95%;
                    height: 2px;
                    background: $gray-b7;
                }

                &:first-child:after {
                    display: none;
                }

                &.active {
                    z-index: 1;
                    color: inherit;

                    &:before {
                        background-position: 0 0;
                    }

                    &::after {
                        background: $point-color;
                    }
                }

                &.on {
                    font-weight: 600;
                    color: $point-color;
                }
            }

            .desc {
                margin-top: 30px;
                @include font(200, 14px);
                color: $gray-b7;
            }
        }
    }

    .gray-box {
        margin: 40px 0 -30px;
        padding: 20px;
        background: $gray-f6;
        font-size: 15px;

        strong {
            display: block;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            color: $point-color;
        }

        p {
            margin-top: 5px;
            line-height: 22px;
        }
    }

    .btn-link {
        display: block;
        margin: 70px 0 40px;
        font-size: 16px;
        line-height: 24px;

        i {
            vertical-align: text-top;
        }
    }

    .btn-wrap {
        margin-top: 50px;

        .btn-form {
            max-width: 325px;
            height: 56px;
            line-height: 56px;
        }
    }
}

.tip-rent {
    margin-top: 17px;

    &+& {
        margin-top: 14px;
    }

    .rent-list {
        margin-top: 0;

        li {
            color: $gray-2e;
        }
    }
}

.place-cal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    padding: 0 40px;

    &.bg-grey {
        margin-top: 21px;
        margin-bottom: 40px;

        .cal-area {
            display: block;
        }
    }

    .select-box {
        position: absolute;
        right: 25px;
        top: 15px;

        @at-root .bg-grey#{&} {
            visibility: hidden;
        }
    }

    .ico-cal {
        display: block;
        margin-top: 16px;
        margin-bottom: 23px;
        font-size: 19px;
        color: $gray-83;
        line-height: 26px;

        &::before {
            content: '';
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 12px;
            background: url(../img/mypage/ico-cal.png) no-repeat 0 50%/auto 100%;
            vertical-align: text-bottom;
        }

        &.on {

            &::before {
                background-position: 100% 50%;
            }

        }
    }

    .cal-area {
        display: none;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 25px 0 40px !important;

        min-height: auto;
        margin-bottom: 0;
        margin-top: -25px;

        .rent-wrap {
            margin-top: 18px;

            &:nth-of-type(1) {
                margin-top: 0;
            }
        }

    }

}

.review-img {
    margin-top: 10px;

    img {
        max-width: 100%;
    }
}

.phone-limit {
    position: relative;
    width: 100%;
    margin-top: 0;

    .val-type.t-num {
        margin-top: 0;
    }
}

.place {
    @at-root .account-box+& {
        margin-top: 50px;
    }

    .list-tit {
        margin-top: 12px;
        white-space: normal;
    }


    &.list-mypage {
        ul {
            margin-bottom: -50px;
            font-size: 0;
        }

        li {
            padding-bottom: 50px;

            &:hover {
                .btn-normal-wrap {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .btn {
        &-normal-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 295px;
            height: 185px;
            background: rgba(71, 71, 71, .32);
            border-radius: 3px;
            text-align: right;

            opacity: 0;
            visibility: hidden;
            transition: all .25s ease-in-out;
        }

        &-modify {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-top: 15px;
            margin-right: 5px;
            background: url(../img/mypage/ico-setting.png) no-repeat 50%/25px auto;
        }

        &-del {
            @extend .btn-modify;
            margin-right: 15px;
            background: url(../img/ico-delete.png) no-repeat 50%/100% auto;
        }
    }

    .check-share {
        position: absolute;
        right: 15px;
        bottom: 50px;
    }
}

.pop-wrap {

    &.place {
        .t-title1 {
            text-align: left;
        }

        .desc1 {
            @extend .t-title1;
        }

        .btn-form {
            width: 168px;
        }
    }
}

.btn-form {
    &.full {
        &+.full {
            margin-top: 10px;
        }
    }
}

#intro .swiper-slide img {
    width: 275px;
}

.cont {
    overflow: hidden;
    margin-top: 10px;
    
    &.overflow {
        height: 0;
    }
}

.more-bottom {
    position: relative;
    padding: 30px 40px;
    border-bottom: 2px solid #E5E5E5;

    @at-root .lend-detail + & {
        margin-top: 140px;

        ul {
            li {
                padding: 4px 0;
                font-size: 14px !important;
                font-weight: 200 !important;
                color: #838383;
                line-height: 24px !important;
            }
        }
    }

    @at-root .total-list + & {
        ul {
            li {
                padding: 4px 0;
                font-size: 14px !important;
                font-weight: 200 !important;
                color: #838383;
                line-height: 24px !important;
            }
        }
    }

    .cont {
        margin: 0;
    }

    & > .inner {
        margin-top: 5px;
    }

    @at-root .btn-form-wrap + & {
        padding: 50px 0 120px;

        .inner ul p {
            color: #000;
            font-size: 17px !important;

            &.strong {
                padding-top: 10px;
            }
        }
    }

    .more {
        position: absolute;
        top: 30px;
        right: 40px;
        font-size: 18px;
        font-weight: 600;
        line-height: 29px;
        color: #8e0032;

        &.on {
            position: static;
            display: inline-block;
            margin-top: 20px;
        }
    }

    .t-title3 {
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 29px;
    }

    .inner {

        &.overflow {
            height: 0;
            overflow: hidden;
        }

        & > p.t-tit {
            padding-top: 15px;
            font-size: 17px;
            font-weight: 600;
            line-height: 29px;

            & + p {
                font-size: 15px;
                line-height: 25px;
            }
        }

        ul {

            li, p {
                font-size: 17px;
                font-weight: 400;
                line-height: 29px;

                &.strong {
                    margin-top: 16px;
                    color: #000;
                    font-size: 17px;
                    font-weight: 600;
                }
            }
            p {
                white-space: nowrap;
            }
        }
    }
}