@font-face {
    font-family: 'dingbet';
    src: url('./fonts/dingbet.eot?16079983');
    src: url('./fonts/dingbet.eot?16079983#iefix') format('embedded-opentype'),
        url('./fonts/dingbet.woff2?16079983') format('woff2'),
        url('./fonts/dingbet.woff?16079983') format('woff'),
        url('./fonts/dingbet.ttf?16079983') format('truetype'),
        url('./fonts/dingbet.svg?16079983#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-guide"]:before,
[class*=" ico-guide"]:before {
    font-family: "dingbet";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    vertical-align: middle;
}

[class^=ico-guide] {
    font-size: 14px;
    color: #545556;
}

.ico-guide-complete:before {
    content: '\e800';
    color: yellowgreen;
}

/* '' */
.ico-guide-empty:before {
    content: '\e801';
    color: #ccc;
}

/* '' */
.ico-guide-ing:before {
    content: '\e802';
    color: deepskyblue;
}

/* '' */
.ico-guide-modify:before {
    content: '\e803';
    color: darkorange;
}

/* '' */